:host {
  width: 300px;
  margin: 30px 0 0 30px;
  cursor: pointer;
}

mat-card {
  min-height: 250px;
}

.mat-card-image {
  height: 168px;
  min-height: 168px;
}

:host:hover {
  opacity: 0.5;
}

:host:last-child {
  margin-bottom: 10px;
}
