
.search-container {
  text-align: center;
}

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  overflow-y: auto;
  height: 100vh;
  flex-wrap: wrap;
  background-color: #2f2f2f;
}

.input-container {
  margin-top: 10px;
  width: 40%;
}
