<div class="movies-list-container">
  <div class="search-container">
    <form novalidate [formGroup]="form">
      <mat-form-field class="input-container">
        <input matInput formControlName="search" placeholder="Search movies...">
      </mat-form-field>
    </form>
  </div>
  <div class="list-container">
    <app-movie-thumb *ngFor="let movie of movies"
                     [movie]="movie"
                     (onSelect)="navToMovieDetails(movie.id)">
    </app-movie-thumb>
  </div>
</div>
